<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Harini Senthilkumar**<br>
Data Analyst

*I am interested in data science because it is an interesting and diverse field of study. There are many new tools and technologies that can be leveraged.*

### The cell below executes the mathematical expression of 4 times 5 which is 20. Then, 20 minus 7 which is 13.

In [4]:
(4*5)-7

13

<ol>
<li>R</li>
<li>Python</li>
<li>SQL</li>
</ol>

---

<ul>
<li>Mike</li>
<li>Sarah</li>
<li>John</li>
<li>Jess</li>
</ul>

---
__[Link to CNN](https://www.cnn.com)__

---

<ul>
<li>Mike</li>
<li>Sarah</li>
<li>John</li>
<li>Jess</li>
</ul>

__[Link to CNN](https://www.cnn.com)__